<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
		
		
		<context:component-scan base-package="com.baizhi.manager.controller"></context:component-scan>
		
		<mvc:annotation-driven>
			<mvc:message-converters>
				<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"></bean>
			</mvc:message-converters>
		</mvc:annotation-driven>
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="prefix" value="/"/>
			<property name="suffix" value=".jsp"/>
		</bean>
			<!-- 验证码的配置对象：用来配置验证码的相关信息，比如字符个数、图片高度、图片宽度、字体颜色... -->
		<bean class="com.google.code.kaptcha.util.Config" id="config">
			<constructor-arg>
				<props>
					<prop key="kaptcha.textproducer.char.length">4</prop>
					<prop key="kaptcha.textproducer.font.size">60</prop>
					<prop key="kaptcha.image.height">100</prop>
					<!-- <prop key="图片高度的key"></prop> -->
				</props>
			</constructor-arg>
		</bean>
		
		<!-- 通过配置对象，生成一个Kaptcha对象 -->
		<bean class="com.google.code.kaptcha.impl.DefaultKaptcha">
			<property name="config" ref="config"></property>
		</bean>
		<!-- 配置文件上传的需要的对象 -->
		<bean class="org.springframework.web.multipart.commons.CommonsMultipartResolver" id="multipartResolver"></bean>
		<mvc:interceptors>
			<mvc:interceptor>
				<mvc:mapping path="/**"/>
				<mvc:exclude-mapping path="/user/**"/>
				<mvc:exclude-mapping path="/validateCode/**"/>
				<bean class="com.baizhi.manager.util.util.MyIntercepter"></bean>
			</mvc:interceptor>
		</mvc:interceptors> 
</beans>
